@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: roboto;
    margin: 0;
}
:root{
    --color-azul:#00669F;
    --color-agua: #1CD1B0;
}

/*Encabezado*/
h3{
    font-size: 20px;
    padding-left: 20px;
    background-color:var(--color-agua);
    padding: 8px;
    padding-left: 20px;
    margin: 0;
}
.logo{
    display: inline;
    padding-top: 10px;
    padding-left: 20px;
}
.nombre{
    background: var(--color-azul);
    height: 100px;
    
}
h1{
    display: inline;
    font-size: 50px;
    color: #FFFFFF; 
    padding-left: 30px;
}
nav{
    background-color: black;
    text-align: right;
    padding: 12px;
    
}
/*quitar el subrayado de los enlaces*/
a:link, a:visited, a:active, a:hover{
    text-decoration:none;   
}
a.menu{
    color: white;
    padding-right: 20px;
    font-size: 20px;
}


/*Cuerpo*/
.carta{
    position: relative;
    padding-top: 60px;
    display: inline-block;
    width:43%;
}
.fondo{
    position: relative;
    left: 22%;
    width: 90%;
    height: 300px;
    border-radius: 50px 50px 0 0; 
    background-size: cover; 
}
i{  position: absolute;
    left: 22%;
    padding-left: 30px;
    padding-top: 30px;
    color: red;
    font-size: 50px;
}
.descripcion{
    position: relative;
    left:22%;
    width: 90%;
    background-color:#F3F3F3; 
}
h2{ 
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    padding-top: 140px;
    margin-top: 0;
}
p{  padding-top: 8px;
    font-size: 20px;
    margin: 30px;
    text-align: justify;
}
.boton{
    height: 110px;
    margin-left: 35%;
    margin-bottom: 60px;
}
.fotoPerfil{
    position: absolute;
    top:240px;
    left:46%;
    width: 40%;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    z-index: 1;
}
h4{
    color:#FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    padding:20px;
    background-color: var(--color-azul);
    width: 30%;
    border-radius: 10%;
}
.agregar{
    position: fixed;
    bottom: 120px;
    right: 30px;
    background-color: var(--color-azul);
    border-radius: 50%;
    font-size: 50px;
    color:#FFFFFF;
    padding:10px 20px;

}


/*pie de pagina*/
footer{
    position: relative;
    top:100px;
    background-color:var(--color-azul);
    height: 100px;
}

h5{ padding-top: 3.5%;
    padding-left: 30%;
    color:#FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    width: 60%;
}
.derechos{
    position: absolute;
    width: 80%;
    margin: 0px;
}
.icono{
    padding-top: 6%;
    width: 80%;
}
.final{
    position: absolute;
    left: 80%;
    width: 20%;
    margin:0px;    
}



/*pagina ingresar*/

.formulario{
    position: relative;
    top: 30px;
    left:25%;
    background-color: rgb(127, 255, 212, 0.1);
    width: 50%;
    margin: 0;
    border-radius: 12px;
}
h2.pagina{
    text-transform: capitalize;
    padding: 5% 10% 5% 10%;
    margin: 0;
    text-align: left;
}
.caja1{
    width: 80%;
    padding: 1% 10% 1% 10%;
}

#cuadro{
    width: 95%;
    height: 30px;
    padding-left: 3%;
}


/*input[type=submit]*/ 
#entrar{
    background-color:var(--color-agua);
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
  }
  .caja2{
    width: 80%;
    padding: 5% 10% 10% 10%;
    text-align: center;
}
.caja3{
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

/*pagina de registrar*/
#cuadro2{
    width: 99%;
    height: 36px;
    padding-left: 3%;
}

#resetear2{
    background-color: #888888;    ;
    color:white;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 48%;
    float:left;
}
#entrar2{
    background-color:var(--color-agua);
    font-weight: bold;
    font-size: 16px;
    padding: 12px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 48%;
    float:right;
  }

/*contacto*/
.caja1 textarea{
    height: 150px;
    width: 98%;
}
